@charset "UTF-8";


*{
margin: 0px;
padding: 0px;

}

body{
   background-color: #F5F5F5;
    color: black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
font-family: Arial, Helvetica, sans-serif;

}




#burguer{
    padding: 10px;
    color: black;
    display: block;
    text-align: left;
   
    cursor: pointer;
}

#burgur:hover{
background-color: white;
color: black;
}

menu{
   width: 100vw;
    padding: 20px;
    display: block;
   
padding: 10px;
    background-color:rgba(0, 0, 0, 0.479);
display: none;

}


menu > a{
    
list-style-type: none;

}


menu > a {
    
    
    padding: 10px;
color: white;
text-align: left;
display: block;
padding: 10px;
text-decoration: none;



}


menu >  a:hover{
    background-color: rgba(128, 128, 128, 0.24);

}

header{
display: flex;
   border-radius: 0px 0px 5px 5px;
    background-color: white;
    text-align: center;

margin-bottom: 20px;
}

header > h1{
    display: block;
    padding: 40px;
text-align: center;
    

}


main{
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

main > video{
padding: 20px;
width: 60%;
max-width: 250px;
max-height: 350px;
}


main > h1{
padding: 20px;
font-size: 18px;
}

main > p{
text-align: justify;
}


.midias > img{
display: block;
width: 200px;
height: 350px;

}



footer{
text-align: right;
padding-top: 15px;
position: relative;
position: sticky;
bottom: -1px;
top: -1px;

 }

footer > a > img{
position: relative;
position: sticky;
padding: 20px;
width: 45px;

 }