@charset "UTF-8";


*{
margin: 0px;
padding: 0px;

}







body{
   background-color: #F5F5F5;
    color: black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
font-family: Arial, Helvetica, sans-serif;

}




#burguer{
    font-size: 2.3em;
    padding: 10px;
    color: black;
    display: block;
    text-align: left;
   
    cursor: pointer;
}

#burgur:hover{
background-color: white;
color: black;
}

menu{
   width: 100vw;
    padding: 20px;
    display: block;
   
padding: 10px;
    background-color:rgb(0, 0, 0);
display: none;

}


menu > a{
    
list-style-type: none;

}


menu > a {
    
    font-size: 1em;
    padding: 10px;
color: white;
text-align: left;
display: block;
padding: 10px;
text-decoration: none;



}


menu >  a:hover{
    background-color: rgba(128, 128, 128, 0.699);

}

header{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
display: flex;
   border-radius: 0px 0px 5px 5px;
    background-color: white;
    text-align: center;

margin-bottom: 20px;
}

header > h1{
    font-size: 1.7em;
    display: block;
    padding: 40px;
text-align: center;
    

}


main{
   
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.midias1{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
padding: 20px;
    background-color: white;
}

.midias1 > video{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
margin: 10px;
max-width: 250px;
max-height: 350px;
}


.midias1 > h1{
padding: 20px;
font-size: 18px;
}

.midias1 > p{
text-align: justify;
}


.midias1 > img{
display: block;
width: 200px;
height: 350px;

}

.midias2{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
    margin-top: 20px;
    padding: 20px;
        background-color: white;
    }
    
    .midias2 > video{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
    margin: 10px;
    max-width: 250px;
    max-height: 350px;
    }
    
    
    .midias2 > h1{
    padding: 20px;
    font-size: 18px;
    }
    
    .midias2 > p{
    text-align: justify;
    }
    
    
    .midias2 > img{
    display: block;
    width: 200px;
    height: 350px;
    
    }
    

footer{
text-align: right;
padding-top: 15px;
position: relative;
position: sticky;
bottom: -1px;
top: -1px;

 }

footer > a > img{
position: relative;
position: sticky;
padding: 20px;
width: 45px;

 }