@charset "UTF-8";


*{
margin: 0px;
padding: 0px;

}







body{
   background-color: #F5F5F5;
    color: black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
font-family: Arial, Helvetica, sans-serif;

}




#burguer{
    font-size: 1.8em;
    padding: 10px;
    color: black;
    display: block;
    text-align: center;
   
    cursor: pointer;
}

#burgur:hover{

color: black;
}

menu{
 
    
    padding: 20px;
    display: block;
   

    background-color:white;
display: none;

}


menu > a{
    
list-style-type: none;

}


menu > a {
    text-decoration: underline;
    font-size: 1em;
    padding: 10px;
color: black;
text-align: center;
display: block;





}


menu >  a:hover{
    color: red;

}






main{
   margin: 0px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 0px;
    min-width: 460px;
    max-width: 1200px;
}


.videos{
    border-radius: 5px;
    }



.midias1{
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.13);
padding: 20px;
    background-color: white;
}



.midias1 > h1{
padding: 20px;
font-size: 25px;
}

.midias1 > p{
    padding: 20px;
    font-size: 18px;
}

.midias1 > center >p{
    margin-bottom: 80px;
}

 







footer{
text-align: right;
padding-top: 15px;
position: relative;
position: sticky;
bottom: -1px;
top: -1px;

 }

footer > a > img{
position: relative;
position: sticky;
padding: 20px;
width: 45px;

 }


 

