@charset "UTF-8";


*{
margin: 0px;
padding: 0px;

}







body{
    background-color: #0F0F0F;
    color: white;
   
font-family: Arial, Helvetica, sans-serif;

}
   

#linksetinha{
    display: flex;
    
    font-size: 2em;
    color: white;
text-decoration: none;
}



.enviar{
    margin: 3px;
padding: 7px;
font-weight: bolder;
color: black;
background-color: white;
}


footer{
    text-align: right;
    padding-top: 15px;
    position: relative;
    position: sticky;
    bottom: -1px;
    top: -1px;
    
     }
    
    footer > a > img{
    position: relative;
    position: sticky;
    padding: 20px;
    width: 45px;
    
     }

     #transparente{
           color: #0F0F0F;
          
        }

        #transparentee{
            text-decoration: none;
        }


        


#burguer{
    text-align: right;
    padding-top: 15px;
    position: relative;
    position: sticky;
    bottom: -1px;
    top: -1px;

    font-size: 2em;
    padding: 10px;
    color: white;
    display: block;
    text-align: center;
   
    cursor: pointer;
}


menu{
 
    
    padding: 20px;
    display: block;
   

    background-color: #0F0F0F;
display: none;

}


menu > a{
    color: white;
list-style-type: none;

}


menu > a {
    
    text-decoration: none;
    font-size: 1em;
    padding: 10px;
color: white;
text-align: center;
display: block;

}


#itens{

   

}


menu >  a:hover{
    color: red;

}






main{
    text-align: justify;
   margin: 0px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 0px;
    
    
}

img{

    border-radius: 2px;

}

.videos{
    border-radius: 2px;
    }



.midias1{
    
padding: 20px;
background-color: #0F0F0F;
color: white;
}



.midias1 > h1{
padding: 20px;
font-size: 25px;
}

.midias1 > p{
    padding: 20px;
    font-size: 18px;
}

.midias1 > p:hover{

color: red;


}



.midias1 > center >p{
    margin-bottom: 40px;
}

 



footer{
text-align: right;
padding-top: 15px;
position: relative;
position: sticky;
bottom: -1px;
top: -1px;

 }

footer > a > img{
position: relative;
position: sticky;
padding: 20px;
width: 55px;

 }


 

